{% load static %}
{% load i18n %}
    {% if user.is_authenticated %}
          <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'img/nissan-logo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">NCE Parts Arrival</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.get_user_account_name }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
				  <a href="{% url 'dashboard:dashboard_view_index' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                {% trans "Dashboard" %}
              </p>
            </a>
         
          <li class="nav-item">
            <a href="{% url 'advisor:advisor_index' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                {% trans "Service Advisor" %}
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
              </p>
            </a>
          </li>
             <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-warehouse"></i>
              <p>
                {% trans "Inventory" %}
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{% trans "Item Number" %}</p>
                    <i class="right fas fa-angle-left"></i>
                </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'partsnumber:parts_number_create_view' %}" class="nav-link">
                          <i class="fas fa-circle nav-icon"></i>
                          <p>{% trans "New Partnumber" %}</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'partsnumber:parts_number_index_view' %}" class="nav-link">
                          <i class="fas fa-circle nav-icon"></i>
                          <p>{% trans "List of Partnumbers" %}</p>
                        </a>
                      </li>
                    </ul>
              </li>
              <li class="nav-item">
                <a href="{% url 'partsnumber:parts_um_create_view' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{% trans "UM (Unit of Measure)" %}</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'partsnumber:parts_show_class' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{% trans "Item Class" %}</p>
                </a>
              </li>
            </ul>
          </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-truck-moving"></i>
              <p>
                {% trans "Arrival" %}
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
              <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'arrival:arrival_index'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{% trans "Parts Arrival" %}</p>
                </a>
            </ul>
          </li>
               <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>
                {% trans "Schedule Dates" %}
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
              </p>
            </a>
          </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-hourglass-half"></i>
              <p>
                {% trans "ETA" %}
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  {% endif %}
