{% load i18n %}
    <form action="{% url 'partsnumber:search_query' %}" class="ml-auto search-form d-none d-md-block" method="GET ">
    <div class="form-group">
        <input type="search" name="q" class="form-control" placeholder="{% trans "Search partsnumber here..." %}">
</div>
</form>