{% extends "common/base.html" %}
{% load i18n humanize bootstrap4 %}
{% block title %} Add Parts Number {% endblock title %}

{% block navbar %} {% include  'common/includes/navbar.html'%}{% endblock navbar %}
{% block sidebar%} {% include  'common/includes/sidebar.html'%}{% endblock sidebar %}
{% block messages %} {% include 'common/includes/message.html' %}{% endblock messages %}

{% block main %}
<section class="content-header">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
             <h1 class="m-0">{% trans "Item Class" %}</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                <a href="#">{% trans "Home" %}</a>
                </li>
                <li class="breadcrumb-item active">
                <a href="#">{% trans "Add Arrival" %}</a>
                </li>
            </ol>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="container-fluid">
    <div class="card card-default">
        <div class="card-body">
           <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form  %}
                {% if arrival is not None %}
                    <div class="col">
                        <label for=""></label>
                        <button type="submit" class="btn btn-primary btn-block" id="submit-button">{% trans "Save" %}</button>
                    </div>
                {% else %}
                    <div class="col">
                        <label for=""></label>
                        <button type="submit" class="btn btn-success btn-block" id="submit-button">{% trans "Update" %}</button>
                    </div>
                {% endif %}
                <div class="col">
                    <label for=""></label>
                    <a href="{% url 'arrival:arrival_index' %}" class="btn btn-danger btn-block">
                    {% trans "Cancel" %}</a>
                </div>
            </div>
         </form>
    </div>
    </div>
</section>
{% endblock main %}

{% block jsscript %}
{% endblock jsscript %}