{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <head>
        <title>Parts Arrival |{% block title %} Login Authentication {% endblock title %}</title>

    <!--inject:css for layout-->
    <link rel="stylesheet" href="{% static 'css/shared/style.css'%}">
    <!--endinject:css-->
    <link href="{% static 'img/nissan_ico.ico' %}" rel="icon" type="image/x-icon" />
</head>
     <body>
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form method="post" role="form">
                {% bootstrap_form_errors form %}
                {% csrf_token %}
                  <div class="form-group">
                    <label class="label">{% trans 'Username' %}</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="username" placeholder="{% trans 'Username'%}">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">{% trans 'Password' %}</label>
                    <div class="input-group">
                      <input type="password" class="form-control" name="password" placeholder="*********">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block" type="submit" >{% trans  'Login' %}</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="form-check form-check-flat mt-0">
                        <input type="checkbox" class="form-check-input" name="_agreement">
                        <span class="form-check-label"> {% trans "Keep me signed in" %}</span>
                    </div>
                    <a href="#" class="text-small forgot-password text-black">{% trans  'Forgot Password' %} </a>
                  </div>
                </form>
              </div>
              {% comment %} <ul class="auth-footer">
                <li>
                  <a href="#">Conditions</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>
              </ul> {% endcomment %}
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<script src="{% static 'dev_js/js/jquery.js' %}"></script>
<script src="{% static 'dev_js/js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- You can alternatively load the minified version -->
<script src="{% static 'dev_js/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'dev_js/js/app.js' %}"></script>

<script src="{% static 'dev_js/js/calendar/daterangepicker.js' %}"></script>{# this all jquery and javascript file in-house #}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/calendar/moment.js' %}"></script>
<script src="{% static 'js/calendar/daterangepicker.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    </body>
</html>
