{% extends "common/base.html" %}
{% load humanize i18n bootstrap4 %}
{% block title %} Partnumbers{% endblock title %} Partnumbers

{% block navbar %} {% include  'common/includes/navbar.html'%}{% endblock navbar %}
{% block sidebar%} {% include  'common/includes/sidebar.html'%}{% endblock sidebar %}
{% block messages %} {% include "common/includes/message.html" %} {% endblock messages %}

{% block main %}
{% include 'common/modal/_modal.html' %}
<section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
              <div class="col-sm-6">
              <h1 class="m-0">{% trans "Parts Number" %}</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                    <a href="#">{% trans "Home" %}</a>
                    </li>
                    <li class="breadcrumb-item active">
                    <a href="#">{% trans "Parts" %}</a>
                    </li>
                </ol>
              </div>
              </div>
            </div>
</section>
    <section class="content">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                <a href="{% url 'partsnumber:parts_number_create_view' %}" class="btn btn-danger btn-sm float-sm-right">
                {% trans "Add Partnumber" %}
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                </a>
                </div>
            </div>
            <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <table class="table table-bordered xs-data-table">
                        <thead class="thead-dark">
                            <tr>
                                {% comment %} <th>Employee ID</th> {% endcomment %}
                                <!-- change this approach that field name will iterate in this section-->
                                <th>{% trans "Part Number" %}</th>
                                <th>{% trans "Unit of Measure" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th>{% trans "Source Code" %}</th>
                                <th>{% trans "Selling Price" %}</th>
                            <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% for partnumbers in object_list  %}
                            <tr>
                                <td>{{ partnumbers.partnumber }}</a></b></td>
                                <td>{{ partnumbers.unit_measure.um }}</td>
                                <td>{{ partnumbers.description }}</td>
                                <td>{{ partnumbers.source_code }} </td>
                                <td>{{ partnumbers.add_leading_zero }}</td>
                    {% comment %} {% if user.is_staff %} {% endcomment %}
                    <td>
                    <a href="{% url 'partsnumber:parts_number_update_view' pk=partnumbers.id %}" 
                            class="btn btn-primary btn-xs edit">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                <button type="button" class="btn btn-xs btn-danger read-partsnumber" 
                    data-id = "{% url 'partsnumber:parts_number_read_view' pk=partnumbers.id %}"
                data-toggle="modal" data-target="#modal">
                    <i class="fas fa-eye" aria-hidden="true"></i>
                
                </button>
                </td> 
                    {% comment %} {% endif %} {% endcomment %}
                            </tr>
                            {% empty %}
                                    <p class="font-weight-bold">{% trans "No partnumbers has been added try adding" %} 
                                    <a href="{% url 'partsnumber:parts_number_create_view'%}">{% trans "here" %}</a></p>
                                    <p class="mb-0"></p>
                                {% endfor %}

                        </tbody>
                    </table>
                <div>
            </div>

        </div>
         <div class="row mb-2">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        {% include 'common/includes/paginator.html' %}
    </div>
        </div><!--end of the row mb-2 -->
    </div>
    </div>
   
</section>
{% endblock main %}
