{% extends "common/base.html" %}
{% block title %} Item Class {% endblock title %}
{% load humanize i18n bootstrap4 %}

{% block sidebar %} {% include "common/includes/sidebar.html" %}{% endblock sidebar %}
{% block navbar %} {% include "common/includes/navbar.html" %}{% endblock navbar %}
{% block messages %} {% include "common/includes/message.html" %} {% endblock messages %}

{% block main %}
<section class="content-header">
    <div class="content-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{% trans "Item Class" %}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                <a href="#">{% trans "Home" %}</a>
                </li>
                <li class="breadcrumb-item active">
                <a href="#">{% trans "Item Class" %}</a>
                </li>
            </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    {% include "common/modal/_modal.html" %}
    <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                    <a href="{% url 'partsnumber:part_class_create_view' %}" class="btn btn-danger btn-sm float-sm-right">
                    {% trans "Add Class Number" %}
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    </a>
                    </div>
                </div>
    <div class="card card-default">
        <div class="card-body">
                <table class="table table-bordered xs-data-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans "Class Name" %}</th>
                            <th>{% trans "Charge Type" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partnumber_class in page_obj.object_list  %}
                        <td>{{ partnumber_class.class_name }}</td>
                        <td>{{ partnumber_class.charge_type }}</td>
                <td>
                <a href="{% url 'partsnumber:part_class_update_view' pk=partnumber_class.id %}" 
                        class="btn btn-primary btn-xs edit-users">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
                <button type="button" class="btn btn-success btn-xs read-item-class" 
                    data-id = "{% url 'partsnumber:item_class_read' pk=partnumber_class.id %}"
                data-toggle="modal" data-target="#modal">
                    <i class="fas fa-eye" aria-hidden="true"></i>
                </button>
                </td>
                    </tr>
                    {% empty %}
                            <p class="font-weight-bold">{% trans "No Part Number class has been added try adding" %} 
                            <a href="{% url 'partsnumber:part_class_create_view'%}">{% trans "here" %}</a></p>
                            <p class="mb-0"></p>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </div>
</div>
</section>
{% include "common/includes/paginator.html" %}
{% endblock main %}
]