<!DOCTYPE html>
{% load static bootstrap4 i18n%}
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <head>
        <title>Parts Arrival |{% block title %} {% endblock title %}</title>
        <!--plugin:css-->
<!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'css/shared/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!--endplugin:css-->
    <!--Layout styles-->
    <link href="{% static 'img/nissan_ico.ico' %}" rel="icon" type="image/x-icon" />
    <!--Customize application css-->
</head>
     <body class="hold-transition sidebar-mini">
       <div class="wrapper">
        {% block section %}
          
            {% endblock section %} 
        {% block login %}
        {% endblock login %}
     {% block navbar %}
            {% comment %} {% include 'common/navbar.html' %} {% endcomment %}
      {% endblock navbar %}

      <!---sidebar-->  
        {% block sidebar %}
            {% comment %} {% include 'common/sidebar.html' %} {% endcomment %}
        {% endblock sidebar %}

             <div class="main-panel">

          <div class="content-wrapper">
          {% block messages %} {% endblock messages %}
            {% block main %}
            
            {% endblock main%}
            {% block logout_account %}
            {% endblock logout_account %}
           </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% block footer %}
          <!--footer notes-->
          {% comment %} {% include 'stub/footer.html' %} {% endcomment %} 
          {% endblock footer %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div><!--end of the wrapper-->


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- You can alternatively load the minified version -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/adminlte.min.js' %}"></script>

<!--Always add first the moment.js before the daterangepicker-->
<script src="{% static 'js/calendar/moment.js' %}"></script>
<script src="{% static 'js/calendar/daterangepicker.js' %}"></script>

    </body>
</html>
